*.pdf*
*.docx*
*.zip*
*.bat*
*.atsuo*
*.atsln*
*.aps*
*.cproj*
*.d*
*.eep*
*.elf*
*.hex*
*.lss*
*.map*
*.o*
*.mk*
*.Makefile
*.exe*
*.conf*
*.sys*
dvd/*
libusb-win32-bin-1.2.6.0/*
*Makefile

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vcxproj*
*.sln*
*.sdf*
*.ipch*
model/
doc/task2/RC45612/Read_Me.txt
